* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: dodgerblue;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    max-width:25rem;
    aspect-ratio: 1;
    flex-wrap: wrap;
    animation-name: rotate-flower;
    transform: rotate(0deg);
    animation-duration: 1s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.blue-circle {
    width: 10rem;
    aspect-ratio: 1/0.5;
    background-color: cadetblue;
    margin: 15px;
    border-radius: 10rem 10rem 0 0;

}

.circle-top-left-blue {
    transform: rotate(-45deg);
}

.circle-top-right-blue {
    transform: rotate(45deg);
}

.circle-bottom-left-blue {
    transform: rotate(-135deg);
}

.circle-bottom-right-blue {
    transform: rotate(135deg);
}

.yellow-circle {
    width: 7rem;
    aspect-ratio: 1/1;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    animation-name: smaller;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate-flower {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(90deg);
    }
    75% {
        transform: rotate(135deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes smaller {
    0% {
        width: 7rem;
    }
    25% {
        width: 5rem;
    }
    50% {
        width: 3rem;
    }
    75% {
        width: 5rem;
    }
    100% {
        width: 7rem;
    }
}

@media only screen and (max-width: 600px) {
    .blue-circle {
        width: 8rem;
    }
}